@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=IBM+Plex+Mono:wght@400;500&family=Instrument+Sans:wght@400;500;600&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Instrument Sans", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  --font-mono: "IBM Plex Mono", monospace;
}

:root {
  --accent: oklch(0.485 0.291 264.121);
}

:root.dark {
  --accent: oklch(0.922 0.235 126.092);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}
