<footer class="relative z-10 bg-white/70 dark:border-zinc-800 dark:bg-black/60">
  <div class="mx-auto flex w-full tracking-wider max-w-7xl flex-col gap-2 py-5 text-sm text-zinc-500 px-7 py-4 md:px-9 md:flex-row items-center justify-center">
    <p>A curated list of skills used by lstudlo</p>
  </div>
</footer>
